 <mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href style="color:white; text-decoration:none;">Cartographic App</a>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container style="height:100%">
    <div class="image">
  
    
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="devices">Table of Devices</button>
    <button mat-menu-item routerLink="map">Map</button>
  </mat-menu>
<!-- <mat-sidenav [(opened)]="opened" mode="side">
  <mat-list>
    <mat-list-item><a routerLink="/devices" style="text-decoration:none;">Devices</a></mat-list-item>
    <mat-list-item><a routerLink="/map" style="text-decoration: none;">Map</a></mat-list-item>
  </mat-list>
</mat-sidenav> -->
<router-outlet></router-outlet>
</div>
</mat-sidenav-container> 

